<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TRAVOGUE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="Grand Tour Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      addEventListener(
        "load",
        function () {
          setTimeout(hideURLbar, 0);
        },
        false
      );

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
      function contactForm() {
        console.log("contactform send");
        $(".thankyou_message").hide();
        window.location.reload();
      }
    </script>

    <!-- css files -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- bootstrap css -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!-- custom css -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- fontawesome css -->
    <!-- //css files -->
    <link rel="icon" href="images/travel.jpg" type="image/icon type" />

    <!-- google fonts -->
    <link
      href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
      rel="stylesheet"
    />
    <link
      href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <!-- //google fonts -->
  </head>
  <body>
    <!-- header -->
    <header>
      <div class="container">
        <!-- nav -->
        <nav class="py-md-4 py-3 d-lg-flex">
          <div id="logo">
            <div id="logo">
              <img
                src="https://assets.travclan.com/unsafe/0x100/smart/https://s3.ap-south-1.amazonaws.com/com.travclan.b2b2c/logo/798/1610892802.518375/0.1559178771137878/Travouge.jpg"
                alt=""
                class="img-fluid abt-image"
              />
            </div>
          </div>
          <label for="drop" class="toggle"
            ><span class="fa fa-bars"></span
          ></label>
          <input type="checkbox" id="drop" />
          <ul class="menu ml-auto mt-1">
            <li class=""><a href="index.ejs">Home</a></li>
            <li class=""><a href="about.ejs">About Us</a></li>
            <li class=""><a href="services.ejs">Services</a></li>
            <li class=""><a href="packages.ejs">Packages</a></li>
            <li class="active"><a href="contact.ejs">Contact</a></li>
            <li class="booking"><a href="booking.ejs">Book Now</a></li>
          </ul>
        </nav>
        <!-- //nav -->
      </div>
    </header>
    <!-- //header -->

    <!-- banner -->
    <section class="banner_inner" id="home">
      <div class="banner_inner_overlay"></div>
    </section>
    <!-- //banner -->

    <!-- Contact -->
    <section class="contact py-5">
      <div class="container py-lg-5 py-sm-3">
        <h2 class="heading text-capitalize text-center mb-sm-5 mb-4">
          Get In Touch with us
        </h2>
        <ul class="list-unstyled row text-center mt-lg-5 mt-4 px-lg-5">
          <li class="col-md-4 col-sm-6 adress-w3pvt-info">
            <div class="adress-icon">
              <span class="fa fa-map-marker"></span>
            </div>

            <h6>Location</h6>
            <p>
              TRAVOGUE <br />No 218, 3 rd Cross HRBR Layout, Kalyan Nagar ,
              Bangalore , Karnataka - 560043
            </p>
          </li>

          <li class="col-md-4 col-sm-6 adress-w3pvt-info mt-sm-0 mt-4">
            <div class="adress-icon">
              <span class="fa fa-envelope-open-o"></span>
            </div>
            <h6>Phone & Email</h6>
            <p>+91 9972806465</p>
            <a href="#" class="mail">kolpurathpraveen@gmail.com</a>
          </li>
          <li class="col-md-4 col-sm-6 adress-w3pvt-info mt-md-0 mt-4">
            <div class="adress-icon">
              <span class="fa fa-comments-o"></span>
            </div>

            <h6>Stay In Touch</h6>
            <ul class="social_section_1info mt-2">
              <li class="mb-2 facebook">
                <a href="#"><span class="fa fa-facebook"></span></a>
              </li>
              <li class="mb-2 twitter">
                <a href="#"><span class="fa fa-twitter"></span></a>
              </li>
              <li class="google">
                <a href="#"><span class="fa fa-google-plus"></span></a>
              </li>
              <li class="linkedin">
                <a href="#"><span class="fa fa-linkedin"></span></a>
              </li>
            </ul>
          </li>
        </ul>

        <div class="contact-grids mt-5">
          <div class="thankyou_message">
            <!-- You can customize the thankyou message by editing the code below -->
            <h2>
              <em>Thanks</em> for contacting us! We will get back to you soon!
            </h2>
            <button
              type="submit"
              onclick="contactForm()"
              id="return_submit"
              class="btn btn-theme2"
            >
              OK
            </button>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 contact-left-form">
              <form id="contactForm" method="post">
                <div class="form-group contact-forms">
                  <span
                    style="color: darkolivegreen; font-weight: bold"
                    name="contact details"
                    >Contact Details</span
                  >
                </div>
                <div class="form-group contact-forms">
                  <input
                    type="text"
                    class="form-control"
                    name="Name"
                    placeholder="Name"
                    required=""
                  />
                </div>
                <div class="form-group contact-forms">
                  <input
                    type="email"
                    class="form-control"
                    name="Email"
                    placeholder="Email"
                    required=""
                  />
                </div>
                <div class="form-group contact-forms">
                  <input
                    type="text"
                    class="form-control"
                    name="phone"
                    placeholder="Phone"
                    required=""
                  />
                </div>
                <div class="form-group contact-forms">
                  <textarea
                    class="form-control"
                    placeholder="Message"
                    name="message"
                    rows="3"
                    required=""
                  ></textarea>
                </div>
                <button class="btn btn-block sent-butnn">Send</button>
              </form>
            </div>
            <div class="col-lg-6 col-md-6 contact-right pl-lg-5">
              <h4>Do you have any questions about us? write to us.</h4>
              <p class="mt-md-4 mt-2">
                Duis nisi sapien, elementum finibus fermentum eget, aliquet et
                leo. Mauris hendrerit vel ex. Quisque vitae luctus massa. Phas
                ellus sed aliquam leo. Vestibulum ullamcorper massa eut sed
                fringilla. Integer ultrices finibus sed nisi. in convallis felis
                da bus sit amet aliquet et leo dolor sit amet aliquet.
              </p>
              <h5 class="mt-lg-5 mt-3">Office Hours</h5>
              <p class="mt-3">Monday to Friday : 09 am to 06 pm</p>
              <p>Saturday and Sunay : 10 am to 04 pm</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //Contact -->

    <!-- map -->
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9312.09481211874!2d76.35234181035577!3d10.733627606914409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1617878499156!5m2!1sen!2sin"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <!-- //map -->

    <!--footer -->
    <footer>
      <section class="footer footer_w3layouts_section_1its py-5">
        <div class="container py-lg-4 py-3">
          <div class="row footer-top">
            <div class="col-lg-3 col-sm-6 footer-grid_section_1its_w3">
              <div class="footer-title">
                <h3>Address</h3>
              </div>
              <div class="footer-text">
                <p>
                  Location : No 218, 3 rd Cross HRBR Layout, Kalyan Nagar ,
                  Bangalore , Karnataka - 560043
                </p>
                <p>Phone : +918073270490</p>
                <p>
                  Email :
                  <a href="mailto:kolpurathpraveen@gmail.com"
                    >kolpurathpraveen@gmail.com</a
                  >
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 footer-grid_section mt-sm-0 mt-4">
              <div class="footer-title">
                <h3>About Us</h3>
              </div>
              <div class="footer-text">
                <p>
                  Derived from the thought of expertise assistance creating a
                  memorable leisure experience , a successful business travel
                  and hassle free one point solution.
                </p>
              </div>
              <ul class="social_section_1info">
                <li class="mb-2 facebook">
                  <a href="#"><span class="fa fa-facebook"></span></a>
                </li>
                <li class="mb-2 twitter">
                  <a href="#"><span class="fa fa-twitter"></span></a>
                </li>
                <li class="google">
                  <a href="#"><span class="fa fa-google-plus"></span></a>
                </li>
                <li class="linkedin">
                  <a href="#"><span class="fa fa-linkedin"></span></a>
                </li>
              </ul>
            </div>
            <div
              class="col-lg-3 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3"
            >
              <div class="footer-title">
                <h3>Travel Places</h3>
              </div>
              <div class="row">
                <ul class="col-6 links">
                  <li><a href="#choose" class="scroll">New Zealand </a></li>
                  <li><a href="#overview" class="scroll">Paris, France </a></li>
                  <li><a href="#pricing" class="scroll">Los Angles</a></li>
                  <li><a href="#faq" class="scroll"> Darlington</a></li>
                  <li><a href="#testimonials" class="scroll">Canada </a></li>
                  <li><a href="#contact" class="scroll"> South Africa </a></li>
                </ul>
                <ul class="col-6 links">
                  <li><a href="#">Spain </a></li>
                  <li><a href="#">Turkey </a></li>
                  <li><a href="#faq" class="scroll">Europe </a></li>
                  <li><a href="#">Italy </a></li>
                  <li><a href="#">Sweden </a></li>
                </ul>
              </div>
            </div>
            <div
              class="col-lg-3 col-sm-6 mt-lg-0 mt-4 footer-grid_section_1its_w3"
            >
              <div class="footer-title">
                <h3>Newsletter</h3>
              </div>
              <div class="footer-text">
                <p>
                  By subscribing to our mailing list you will always get latest
                  news and updates from us.
                </p>
                <form action="#" method="post">
                  <input
                    type="email"
                    name="Email"
                    placeholder="Enter your email..."
                    required=""
                  />
                  <button class="btn1">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                  </button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <!-- //footer -->

    <!-- copyright -->
    <div class="copyright py-3 text-center">
      <p>All Rights Reserved | Design by TRAVOGUE.</p>
    </div>
    <!-- //copyright -->

    <!-- move top -->
    <div class="move-top text-right">
      <a href="#home" class="move-top">
        <span class="fa fa-angle-up mb-3" aria-hidden="true"></span>
      </a>
    </div>
    <!-- move top -->

    <script>
      $(".thankyou_message").hide();
      $(function () {
        $("#contactForm").submit(function (e) {
          console.log("submit");
          e.preventDefault();
          var form_data = $(this).serialize();
          console.log(form_data);
          $.ajax({
            type: "POST",
            url: "https://script.google.com/macros/s/AKfycbxiuPxACeSJyldEWihiJW_9ZT_ViJ-mUB_g1kxPzQ/exec",
            dataType: "json", // Add datatype
            data: form_data,
          })
            .done(function (data) {
              console.log(data);
              e.preventDefault();
              $(".thankyou_message").show();
              return false;
            })
            .fail(function (data) {
              console.log(data);
              e.preventDefault();
            });
        });
      });
    </script>
  </body>
</html>
